---
import { Icon } from "astro-icon/components";

import {
  STATIC_ROUTES,
  type StaticRouteValue,
  type StaticRouteLink,
} from "@routes";

import Section from "@components/layout/Section.astro";

import Button from "@components/interactive/Button.astro";

import loadHomeMainData from "@features/home/loaders/mainLoader";

import Hamburger from "./Hamburger.astro";

import { ids } from "../script/config";

const data = await loadHomeMainData();

const HOME_LINK: StaticRouteLink = {
  label: "Strona główna - Przestrzeń",
  href: STATIC_ROUTES.home,
};

const NAV_LINKS: StaticRouteLink[] = [
  {
    label: "O mnie",
    href: STATIC_ROUTES.aboutMe,
  },
  {
    label: "Oferta",
    href: STATIC_ROUTES.offert,
  },
  {
    label: "Blog",
    href: STATIC_ROUTES.blog,
  },
  {
    label: "Kontakt",
    href: STATIC_ROUTES.contact,
  },
];

const CTA_LINK: StaticRouteLink = {
  label: data.ctaLabel,
  href: STATIC_ROUTES.reservation,
};

interface Props {
  id: string;
  currentPage: StaticRouteValue;
}

const { id, currentPage } = Astro.props;

const isAriaCurrentPage = (href: StaticRouteValue) =>
  href === currentPage ? "page" : undefined;
---

<Section
  as="div"
  className="h-auto border-b border-dark-beige/60 bg-warm-white/80 py-0 backdrop-blur-md has-aria-expanded:h-[calc(100dvh-var(--app-header-top-bar-height))] has-aria-expanded:bg-warm-white/90"
  id={id}
>
  <nav
    class="flex h-full w-full flex-col py-(--space-xs) text-charcoal lg:flex-row lg:justify-between lg:py-0"
  >
    <div class="peer flex items-center justify-between">
      <a
        aria-current={isAriaCurrentPage(HOME_LINK.href)}
        aria-label={HOME_LINK.label}
        class="group outline-none"
        href={HOME_LINK.href}
      >
        <Icon
          aria-hidden="true"
          class="h-full w-[120px] text-deep-green transition-colors duration-300 group-focus-visible:shine group-focus-visible:text-warm-yellow hover:shine sm:w-[180px]"
          name="logo"
        />
      </a>

      <Hamburger className="lg:hidden" id={ids.mobileMenuButton} />
    </div>

    <ul
      class="hidden w-full flex-grow flex-col py-(--space-s) peer-has-aria-expanded:my-(--space-2xl) peer-has-aria-expanded:flex lg:flex lg:w-auto lg:flex-grow-0 lg:flex-row lg:justify-between lg:gap-(--space-m-l)"
      role="list"
    >
      {
        NAV_LINKS.map((link) => (
          <li class="border-b border-b-deep-green first:border-t lg:border-0 lg:first:border-0">
            <Button
              aria-current={isAriaCurrentPage(link.href)}
              className="text-lg lg:text-sm"
              href={link.href}
              variant="nav"
            >
              {link.label}
            </Button>
          </li>
        ))
      }

      <li class="mt-auto lg:mt-auto">
        <Button
          aria-current={isAriaCurrentPage(CTA_LINK.href)}
          className="w-full text-lg tracking-wider lg:text-sm"
          href={CTA_LINK.href}
        >
          {CTA_LINK.label}
        </Button>
      </li>
    </ul>
  </nav>
</Section>
