---
import Section from "@components/layout/Section.astro";

import Button from "@components/interactive/Button.astro";

import Hamburger from "@components/layout/header/components/Hamburger.astro";

import Logo from "@assets/logo.svg";

import loadHomeMainData from "@features/home/loaders/mainLoader";

const data = await loadHomeMainData();

const NAV_LINKS = [
  {
    label: "O mnie",
    href: "/o-mnie",
  },
  {
    label: "Oferta",
    href: "/oferta",
  },
  {
    label: "Blog",
    href: "/blog",
  },
  {
    label: "Kontakt",
    href: "/kontakt",
  },
];

const CTA_LINK = {
  label: data.ctaLabel,
  href: "/rezerwacja",
};

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<Section
  as="div"
  className="h-auto border-b border-dark-beige/60 bg-warm-white/80 py-0 backdrop-blur-md has-aria-expanded:h-[calc(100dvh-var(--app-header-top-bar-height))] has-aria-expanded:bg-warm-white/90"
  id={id}
>
  <nav
    class="flex h-full w-full flex-col py-(--space-xs) text-charcoal lg:flex-row lg:justify-between lg:py-0"
  >
    <div class="peer flex items-center justify-between">
      <a
        aria-current="page"
        aria-label="Strona główna - Przestrzeń"
        class="group outline-none"
        href="/"
      >
        <Logo
          aria-hidden="true"
          class="w-[120px] text-deep-green transition-colors duration-300 group-focus-visible:shine group-focus-visible:text-warm-yellow hover:shine sm:w-[180px]"
        />
      </a>

      <Hamburger className="lg:hidden" id="mobile-menu-button" />
    </div>

    <ul
      class="hidden w-full flex-grow flex-col py-(--space-s) peer-has-aria-expanded:my-(--space-2xl) peer-has-aria-expanded:flex lg:flex lg:w-auto lg:flex-grow-0 lg:flex-row lg:justify-between lg:gap-(--space-m-l)"
      role="list"
    >
      {
        NAV_LINKS.map((link) => (
          <li class="border-b border-b-deep-green first:border-t lg:border-0 lg:first:border-0">
            <Button
              className="text-lg lg:text-sm"
              href={link.href}
              variant="nav"
            >
              {link.label}
            </Button>
          </li>
        ))
      }
      <!-- group-peer-has-aria-expanded:order-first -->
      <li class="mt-auto lg:mt-auto">
        <Button
          className="w-full text-lg tracking-wider lg:text-sm"
          href={CTA_LINK.href}
        >
          {CTA_LINK.label}
        </Button>
      </li>
    </ul>
  </nav>
</Section>
