---
/* eslint-disable astro/no-unused-css-selector */
import { DYNAMIC_ROUTES, STATIC_ROUTES } from "@routes";

import Section from "@components/layout/Section.astro";

import Heading from "@components/typography/Heading.astro";
import InlineLink from "@components/typography/InlineLink.astro";

import RichTextBlock from "@components/richText/RichTextBlock.astro";

import Map from "@components/interactive/Map";

import loadCompanyDetails from "@features/contact/loaders/companyDetailsLoader";

import Widget from "@features/reservation/components/Widget";
import OfficeCard from "@features/reservation/components/OfficeCard.astro";

import type { Office } from "@features/reservation/types";

interface Props {
  office: Office;
}

const companyDetailsData = await loadCompanyDetails();

const { office } = Astro.props;
---

<Section
  className="reservation-office-wrapper bg-soft-beige pt-(--space-5xl-6xl)"
  containerClassName="flex flex-col lg:grid lg:grid-cols-(--two-col-grid) lg:gap-(--space-m-l)"
>
  <div class="flex w-full flex-col">
    <Heading
      className="text-center text-lg font-normal text-deep-green md:text-left"
      level={1}
    >
      {office.name}
    </Heading>

    <InlineLink
      className="arrow-left-3xs order-first mx-auto mb-(--space-2xs-xs) block w-fit text-sm text-warm-yellow hover:arrow-left-animate hover:no-underline focus:arrow-left-animate focus-visible:no-underline md:ml-[unset]"
      href={STATIC_ROUTES.reservation}
    >
      Rezerwacja
    </InlineLink>

    <RichTextBlock
      className="text-justify"
      containerClassName="mt-(--space-xs-s)"
      document={office.description}
    />
    <OfficeCard
      address={`${office.streetAddress}, ${office.addressLocality}`}
      className="mt-(--space-l-xl) hidden lg:block"
      email={office.email}
      href={DYNAMIC_ROUTES.office(office.slug)}
      isLink={false}
      name={office.name}
      phone={office.telephone}
      website={office.website}
    />
    <Map
      className="mt-(--space-m-l) hidden h-fit flex-grow lg:block"
      client:load
      coordinates={office.coordinates}
    />
  </div>
  <div
    class="mx-auto mt-(--space-l-xl) grid w-full grid-cols-(--fluid-reservation-grid) gap-(--space-m-l) lg:order-first lg:mt-0 lg:grid-cols-1"
  >
    <div class="flex flex-col lg:hidden!">
      <OfficeCard
        address={`${office.streetAddress}, ${office.addressLocality}`}
        className="block h-fit"
        email={office.email}
        href={DYNAMIC_ROUTES.office(office.slug)}
        isLink={false}
        name={office.name}
        phone={office.telephone}
        website={office.website}
      />
      <Map
        className="mt-(--space-l-xl) block h-[200px] flex-grow"
        client:load
        coordinates={office.coordinates}
      />
    </div>
    <Widget
      className="mx-auto h-full max-h-(--widget-max-height) min-h-(--widget-min-height) w-full min-[746px]:order-first"
      client:load
      therapistId={companyDetailsData.therapistId}
    />
  </div>
</Section>

<style>
  .reservation-office-wrapper {
    --widget-min-height: 752px;
    --widget-max-height: 793px;

    --min-reservation-col-width: 300px;
    --max-reservation-col-width: 380px;

    --fluid-reservation-grid: repeat(
      auto-fill,
      minmax(min(var(--min-reservation-col-width), 100%), 1fr)
    );
    --two-col-grid: var(--max-reservation-col-width) 1fr;
  }
</style>
