---
/* eslint-disable astro/no-unused-css-selector */
import Section from "@components/layout/Section.astro";

import Heading from "@components/typography/Heading.astro";

import RichTextBlock from "@components/richText/RichTextBlock.astro";

import Badge from "@components/interactive/Badge.astro";
import Button from "@components/interactive/Button.astro";

import Image from "@components/media/Image/Image.astro";

import FormOfSupportCard from "@features/offert/components/FormOfSupportCard.astro";

import { resolveAssetUrl } from "@lib/contentful";

import { DYNAMIC_ROUTES, STATIC_ROUTES } from "@routes";

import loadAreasOfSupportData from "@features/offert/loaders/areasOfSupportLoader";
import loadFormsOfSupportData from "@features/offert/loaders/formsOfSupportLoader";

import loadData from "@features/offert/loaders/mainLoader";

const data = await loadData();

const formsOfSupport = await loadFormsOfSupportData();
const areasOfSupport = await loadAreasOfSupportData();
---

<Section
  className="offert-main-wrapper noise-30 bg-muted-green pt-(--space-5xl-6xl)"
>
  <div class="flex items-center justify-around gap-(--space-s-m)">
    <Image
      alt=""
      className="hidden w-[250px] md:block"
      sizes="250"
      src={resolveAssetUrl(formsOfSupport.image)}
      widths={[250]}
    />

    <div>
      <Heading
        className="text-center text-lg font-normal md:text-left"
        level={1}
      >
        {data.heading}
      </Heading>

      <Heading className="sr-only" level={2}>{formsOfSupport.label}</Heading>
      <RichTextBlock
        className="text-justify text-balance text-muted-teal"
        containerClassName="mx-auto mt-(--space-xs-s)"
        document={data.formsOfSupportDescription}
      />
    </div>
  </div>

  <ul
    aria-label={formsOfSupport.label}
    class="mt-(--space-xl-2xl) grid auto-rows-auto grid-cols-(--fluid-form-of-support-grid) gap-(--space-m-l)"
    role="list"
  >
    {
      formsOfSupport.list.map((item) => (
        <li>
          <FormOfSupportCard
            description={item.description}
            href={DYNAMIC_ROUTES.formOfSupport(item.slug)}
            imgSrc={resolveAssetUrl(item.image)}
            label={item.name}
          />
        </li>
      ))
    }
  </ul>

  <Button
    className="my-(--space-2xl-3xl) w-full"
    href={STATIC_ROUTES.reservation}
    size="large"
  >
    {data.ctaLabel}
  </Button>

  <div class="flex items-center justify-around gap-(--space-s-m)">
    <div>
      <Heading className="sr-only" level={2}>{areasOfSupport.label}</Heading>

      <RichTextBlock
        className="text-justify text-balance text-muted-teal"
        containerClassName="mx-auto mt-(--space-xs-s)"
        document={data.areasOfSupportDescription}
      />
    </div>
    <Image
      alt=""
      className="hidden w-[250px] lg:block"
      sizes="250"
      src={resolveAssetUrl(areasOfSupport.image)}
      widths={[250]}
    />
  </div>

  <ul
    aria-label={areasOfSupport.label}
    class="mt-(--space-l-xl) flex flex-wrap justify-center gap-x-(--space-s) gap-y-(--space-xs)"
    role="list"
  >
    {
      areasOfSupport.list.map((item) => (
        <li>
          <Badge as="a" href={DYNAMIC_ROUTES.areaOfSupport(item.slug)}>
            {item.name}
          </Badge>
        </li>
      ))
    }
  </ul>

  <Button
    className="mt-(--space-2xl-3xl) w-full"
    href={STATIC_ROUTES.reservation}
    size="large"
  >
    {data.ctaLabel}
  </Button>
</Section>

<style>
  .offert-main-wrapper {
    --min-form-of-support-col-width: 300px;

    --fluid-form-of-support-grid: repeat(
      auto-fill,
      minmax(min(var(--min-form-of-support-col-width), 100%), 1fr)
    );
  }
</style>
