---
import Section from "@components/layout/Section.astro";

import Heading from "@components/typography/Heading.astro";

import RichHeadline from "@components/richText/RichHeadline.astro";
import RichTextBlock from "@components/richText/RichTextBlock.astro";

import Button from "@components/interactive/Button.astro";

import Video from "@components/media/Video/Video.astro";

import cldVideoHelper from "@utils/cloudinary/video";
import generateLQIP from "@utils/generateLQIP";

import BREAKPOINTS from "@styles/breakpoints/breakpoints";

import loadData from "../loaders/mainLoader";

const data = await loadData();

const heroPosterImageUrl = cldVideoHelper.buildPosterImageUrl(
  data.cldVideoPublicId,
  0,
);

const heroLqipDataUrl = await generateLQIP(heroPosterImageUrl);

const heroVideoSources = [
  {
    src: cldVideoHelper.buildOptimizedVideoUrl(data.cldVideoPublicId, "best"),
    type: "video/mp4",
    media: `(min-width: ${BREAKPOINTS.xl}) and (prefers-reduced-motion: no-preference)`,
    isHighBandwidth: true,
  },
  {
    src: cldVideoHelper.buildOptimizedVideoUrl(data.cldVideoPublicId, "eco"),
    type: "video/mp4",
    media: `(prefers-reduced-motion: no-preference)`,
    isHighBandwidth: true,
  },
  {
    src: cldVideoHelper.buildSnapshotClipUrl(data.cldVideoPublicId, 0),
    type: "video/mp4",
  },
];
---

<Section
  className="noise-35 bg-sand-beige pt-(--space-5xl-6xl)"
  containerClassName="flex flex-col items-center xl:flex-row"
>
  <div class="flex flex-col items-center xl:mr-(--space-l)">
    <Heading className="sr-only" level={1}>{data.heading}</Heading>
    <RichHeadline
      className="text-center xl:text-left"
      document={data.headline}
    />
    <RichTextBlock
      className="text-center font-extralight text-balance xl:text-left"
      containerClassName="mt-(--space-xs-s)"
      document={data.description}
    />
    <Button
      className="mt-(--space-m-l) xl:mr-auto"
      href="/rezerwacja"
      size="large"
    >
      {data.ctaLabel}
    </Button>
  </div>

  <Video
    alt=""
    autoplay
    className="noise-20 mt-(--space-xl-2xl) block aspect-[5/2.5] sm:aspect-[5/1.5] xl:mt-0 xl:aspect-[5/4]"
    loop
    lqipDataUrl={heroLqipDataUrl}
    poster={heroPosterImageUrl}
    preload="auto"
    sources={heroVideoSources}
  />
</Section>
