---
import Section from "@components/layout/Section.astro";

import loadMainOffice from "@features/contact/loaders/mainOfficeLoader";

interface Props {
  id: string;
}

const { id } = Astro.props;

const mainOffice = await loadMainOffice();
---

<Section
  as="div"
  className="noise-30 isolate flex h-(--app-header-top-bar-height) border-b border-deep-green/10 bg-muted-green py-0"
  containerClassName="flex items-center"
  id={id}
>
  <a
    class="sr-only text-xs text-deep-green outline-none focus:not-sr-only focus:text-warm-yellow"
    href="#main"
  >
    Przejdź do treści głównej
  </a>

  <div class="ml-auto flex flex-wrap items-center gap-x-(--space-xs)">
    <p class="text-xs text-deep-green">
      <a
        class="outline-none hover:text-warm-yellow hover:underline focus:text-warm-yellow focus:underline"
        href={`/kontakt`}
        >{mainOffice.streetAddress}, {mainOffice.addressLocality}</a
      >
    </p>
    <p class="hidden text-xs text-deep-green md:inline-block">
      <span class="hidden lg:inline-block">tel:</span>
      <a
        class="outline-none hover:text-warm-yellow hover:underline focus:text-warm-yellow focus:underline"
        href={`tel:${mainOffice.telephone}`}>{mainOffice.telephone}</a
      >
    </p>
    <p class="hidden text-xs text-deep-green lg:inline-block">
      <span class="hidden lg:inline-block">email:</span>
      <a
        class="outline-none hover:text-warm-yellow hover:underline focus:text-warm-yellow focus:underline"
        href={`mailto:${mainOffice.email}`}>{mainOffice.email}</a
      >
    </p>
  </div>
</Section>
