---
import type { Page } from "astro";

import Section from "@components/layout/Section.astro";

import Heading from "@components/typography/Heading.astro";
import RichTextBlock from "@components/richText/RichTextBlock.astro";

import BlogPostList from "@features/blog/components/BlogPostList.astro";
import Pagination from "@features/blog/components/Pagination/Pagination.astro";

import loadData from "@features/blog/loaders/mainLoader";

import type { BlogPost } from "@features/blog/types";

const data = await loadData();

interface Props {
  page: Page<BlogPost>;
}

const { page } = Astro.props;
---

<Section className="bg-warm-white pt-(--space-5xl-6xl)">
  <Heading className="text-left text-lg font-normal" level={1}>
    {data.heading}
  </Heading>

  <RichTextBlock
    className="text-justify"
    containerClassName="mt-(--space-s-m)"
    document={data.description}
  />

  <BlogPostList
    aria-label={data.listLabel}
    className="mt-(--space-l-xl)"
    posts={page.data}
  />

  <Pagination
    className="mx-auto mt-(--space-m-l) w-fit"
    currentPage={page.currentPage}
    nextUrl={page.url.next}
    prevUrl={page.url.prev}
    totalPages={page.lastPage}
  />
</Section>
