---
import { tw } from "@utils/index.ts";

import OfficeCard from "@features/reservation/components/OfficeCard.astro";

import type { OfficeFields as Office } from "@features/reservation/types";
import { DYNAMIC_ROUTES } from "@routes";

interface Props {
  className?: string;
  offices: Office[];
}

const { className, offices, ...attrs } = Astro.props;

const baseClasses = tw("w-full");
---

<ul class:list={tw(baseClasses, className)} role="list" {...attrs}>
  {
    offices.map((office) => (
      <li class="w-full">
        <OfficeCard
          address={`${office.streetAddress}, ${office.addressLocality}`}
          email={office.email}
          href={DYNAMIC_ROUTES.office(office.slug)}
          name={office.name}
          phone={office.telephone}
          website={office.website}
        />
      </li>
    ))
  }
</ul>
