---
import { tw } from "@utils/index.ts";

import Heading from "@components/typography/Heading.astro";
import Paragraph from "@components/typography/Paragraph.astro";

import Image from "@components/media/Image/Image.astro";

import PublishDate from "./PublishDate.astro";

interface PostCard {
  href: string;
  imgSrc: string;
  imgLQIPData?: string;
  title: string;
  description: string;
  date: Date;
}

interface Props extends PostCard {
  className?: string;
}

const { className, href, imgSrc, imgLQIPData, title, description, date } =
  Astro.props;

const baseClasses = tw(
  "group @container h-full rounded-2xl bg-sand-beige outline-offset-2 outline-dark-beige transition-colors hover:cursor-pointer hover:bg-dark-beige/60 has-focus-visible:bg-dark-beige/60 has-focus-visible:outline-2",
);

const classList = tw(baseClasses, className);
---

<article class:list={classList}>
  <a
    aria-label=`Zobacz wpis: ${title}`
    class="flex w-full flex-col overflow-hidden rounded-2xl outline-none @xl:h-full @xl:flex-row @xl:group-even:flex-row-reverse"
    href={href}
  >
    <Image
      alt=""
      className="noise-15 aspect-5/2 flex-1 overflow-hidden rounded-none"
      lqipDataUrl={imgLQIPData}
      sizes="500px"
      src={imgSrc}
      widths={[500]}
    />
    <div
      class="noise-30 flex flex-2 flex-col justify-center p-(--space-s-m) px-(--space-s-m) pb-(--space-m) @xl:p-(--space-m-l)"
    >
      <PublishDate
        className="@xl:text-left @xl:group-even:text-right"
        date={date}
      />
      <Heading
        className="text-base font-normal tracking-normal text-balance text-dark-teal transition-colors group-hover:text-deep-green group-has-focus-visible:text-deep-green @xl:text-left @xl:group-even:text-right"
        level={3}
      >
        {title}
      </Heading>
      <Paragraph
        className="mt-(--space-2xs) text-justify text-sm text-pretty @xl:group-even:ml-auto @xl:group-even:text-right"
      >
        {description}
      </Paragraph>
    </div>
  </a>
</article>
