---
import Heading from "@components/typography/Heading.astro";

import Button from "@components/interactive/Button.astro";

import { DYNAMIC_ROUTES, STATIC_ROUTES } from "@routes";

import type { BlogPostFields as BlogPost } from "@features/blog/types";

import BlogPostCardPreview from "./BlogPostCardPreview.astro";

interface Props {
  heading: string;
  posts: BlogPost[];
}

const { heading, posts } = Astro.props;
---

<Heading
  className="relative top-[2px] ml-(--space-3xs) font-light text-balance text-charcoal xl:text-sm"
  level={3}
>
  {heading}
</Heading>

<ul
  class="mt-(--space-s-m) flex flex-row gap-(--space-s-m) overflow-x-scroll p-1 pb-(--space-xs-s) xl:flex-col xl:overflow-x-auto xl:p-0"
>
  {
    posts.map((post) => (
      <BlogPostCardPreview
        className="min-w-[300px] "
        date={post.date}
        description={post.description}
        href={DYNAMIC_ROUTES.blogPost(post.slug)}
        timeToRead={post.timeToRead}
        title={post.title}
      />
    ))
  }
</ul>

<Button
  className="mt-(--space-3xs-2xs) w-full xl:mt-(--space-s-m)"
  href={STATIC_ROUTES.blog}
  variant="secondary"
>
  Czytaj więcej
</Button>
