---
import { DYNAMIC_ROUTES } from "@routes";

import { resolveAssetUrl } from "@lib/contentful";

import { tw } from "@utils/index.ts";

import BlogPostCard from "@features/blog/components/BlogPostCard.astro";

import type { BlogPost } from "@features/blog/types";

interface Props {
  className?: string;
  posts: BlogPost[];
}

const { className, posts, ...attrs } = Astro.props;

const baseClasses = tw("grid gap-(--space-m-l) xl:grid-cols-2");

const classlist = tw(baseClasses, className);

const isTotalEven = posts.length % 2 === 0;
---

<ul class:list={classlist} {...attrs}>
  {
    posts.map((post) => (
      <li
        class:list={tw(
          "group xl:first:col-span-2",
          isTotalEven && "xl:last:col-span-2",
        )}
      >
        <BlogPostCard
          className="group-even:group"
          date={post.date}
          description={post.description}
          href={DYNAMIC_ROUTES.blogPost(post.slug)}
          imgSrc={resolveAssetUrl(post.image)}
          title={post.title}
        />
      </li>
    ))
  }
</ul>
