---
import Section from "@components/layout/Section.astro";

import RichHeadline from "@components/richText/RichHeadline.astro";

import Map from "@components/interactive/Map";

import CompanyDetails from "@features/contact/components/CompanyDetails.astro";

import loadCompanyDetails from "@features/contact/loaders/companyDetailsLoader";

import { STATIC_ROUTES, type StaticRouteLink } from "@routes";

import Copyright from "./components/Copyright.astro";
import Nav from "./components/Nav.astro";

const companyDetails = await loadCompanyDetails();

const NAV_ITEMS: StaticRouteLink[] = [
  { label: "O mnie", href: STATIC_ROUTES.aboutMe },
  { label: "Oferta", href: STATIC_ROUTES.offert },
  { label: "Blog", href: STATIC_ROUTES.blog },
  { label: "Kontakt", href: STATIC_ROUTES.contact },
  { label: "Rezerwacja", href: STATIC_ROUTES.reservation },
];

const currentYear = new Date().getFullYear();
---

<Section as="footer" className="noise-20 bg-night-green pb-(--space-m-3xl)">
  <RichHeadline
    className="text-center text-xl text-warm-white"
    document={companyDetails.headline}
  />

  <article
    aria-label={companyDetails.label}
    class="mt-(--space-2xl-4xl) flex w-full flex-col items-center gap-(--space-2xl-3xl) lg:flex-row"
  >
    <Map
      className="aspect-square max-w-[500px] lg:w-1/2"
      client:visible
      coordinates={companyDetails.office.coordinates}
    />

    <CompanyDetails
      className="text-warm-white lg:w-1/2 lg:items-start lg:text-left"
      details={companyDetails.office}
      withScope
    />
  </article>

  <Nav items={NAV_ITEMS} />

  <Copyright>© {currentYear} Przestrzeń</Copyright>
</Section>
