---
import CompanyDetails from "@features/contact/components/CompanyDetails.astro";

import Section from "@components/layout/Section.astro";

import RichHeadline from "@components/richText/RichHeadline.astro";

import Map from "@components/interactive/Map";

import loadMainOffice from "@features/contact/loaders/mainOfficeLoader";
import loadData from "./loader";

import Copyright from "./Copyright.astro";
import Nav from "./Nav.astro";

const data = await loadData();
const mainOffice = await loadMainOffice();

const NAV_ITEMS = [
  { label: "O mnie", href: "/o-mnie" },
  { label: "Oferta", href: "/oferta" },
  { label: "Blog", href: "/blog" },
  { label: "Kontakt", href: "/kontakt" },
  { label: "Rezerwacja", href: "/rezerwacja" },
];

const currentYear = new Date().getFullYear();
---

<Section as="footer" className="noise-20 bg-night-green pb-(--space-m-3xl)">
  <RichHeadline
    className="text-center text-xl text-warm-white"
    document={data.headline}
  />

  <article
    aria-label="Dane firmy i kontakt"
    class="mt-(--space-2xl-4xl) flex w-full flex-col items-center gap-(--space-2xl-3xl) lg:flex-row"
  >
    <Map
      className="aspect-square max-w-[500px] lg:w-1/2"
      client:visible
      location={mainOffice.coordinates}
    />

    <CompanyDetails
      className="text-warm-white"
      details={mainOffice}
      withScope
    />
  </article>

  <Nav items={NAV_ITEMS} />

  <Copyright>© {currentYear} Przestrzeń</Copyright>
</Section>
